{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}  

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Send Us Message</h2>
            <div class="small-border" ></div>
        </div>

        <div class="col-md-12">
            <form method="post" >
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <div id='name_error' class='error'>Please enter your name.</div>
                        <div>
                            {{form.name|as_crispy_field}}
                        </div>

                        <div id='email_error' class='error'>Please enter your valid E-mail ID.</div>
                        <div>
                            {{form.cemail|as_crispy_field}}
                        </div>

                        <div id='phone_error' class='error'>Please enter your phone number.</div>
                        <div>
                            {{form.cphone|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div id='message_error' class='error'>Please enter your message.</div>
                        <div>
                           {{form.message|as_crispy_field}}
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <p id='submit'>
                            <button type="submit" class="btn btn-dark">Submit</button>
                        </p>                        
                    </div>
                </div>
            </form>

        </div>


    </div>

    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h2>Location</h2>
            <div class="small-border wow zoomIn" data-wow-delay=".3s" data-wow-duration=".3s"></div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15954.769007478137!2d103.887322!3d1.3612995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3685572e7ccbd664!2sMelon%20Beauty%20Salon%20(Kovan)!5e0!3m2!1sen!2ssg!4v1671282810353!5m2!1sen!2ssg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>


</div>
{% endblock%}