{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            {{form.email|as_crispy_field}}
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                {{form.password1|as_crispy_field}}
            </div>
            <div class="col-lg-6 col-md-12">
                {{form.password2|as_crispy_field}}
            </div>
        </div> 
        <div class="row">
            <div class="col-lg-6 col-md-12">
                {{form.first_name|as_crispy_field}}
            </div>
            <div class="col-lg-6 col-md-12">
                {{form.last_name|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                {{form.dob|as_crispy_field}}
            </div>
            <div class="col-lg-6 col-md-12">
                {{form.phone|as_crispy_field}}
            </div>
        </div>
        
        
        <div class="row col-lg-6 col-md-12 mx-auto">
            <button type="submit" class="btn btn-dark mt-2">Register</button>
        </div>
    </form>
</div>
{% endblock %}