{% extends "base/base.html" %}
{% load crispy_forms_tags %}  
{% load static %}

{% block header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
{% endblock%}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <img src="https://i.ibb.co/jVRXrPn/Co2-Peel-Oxyglow-Facial.jpg" class="img-thumbnail img-fluid" alt="Co2 Peel Oxyglow facial" width="500">
    </div>
    
    <h2 class="text-center">Benefits</h2>
    <div class="d-flex justify-content-center">
        <ul class="list-unstyled text-center">
            <li><i class="fa-sharp fa-solid fa-square-check"></i>&nbsp Additional layer of skin protection</li>
            <li><i class="fa-sharp fa-solid fa-square-check"></i>&nbsp Reduce acne and acne marks</li>
            <li><i class="fa-sharp fa-solid fa-square-check"></i>&nbsp Diminish hyperpigmentation</li>
            <li><i class="fa-sharp fa-solid fa-square-check"></i>&nbsp Stimulates collagen production</li>
            
        </ul>
    </div>
    <hr class="my-5">
    <h2 class="text-center">Description</h2>
    <div class="d-flex justify-content-center text-center">
        <p>Dual-action carbonic treatment includes antioxidants and salicylic acid to unclog pores and congested skin. Aside from rejuvenating the skin and reducing acne, the treatment helps to stimulates collagen production and adds an extra layer of skin protection. </p>
    </div>
    <hr class="my-5">
    <h2 class="text-center">Processes</h2>
    <div class="d-flex justify-content-center">
        <ul class="list-unstyled text-center">
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Deep cleansing</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Apply soothing lotion & Co2 peel mask</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Steam</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Extrusion</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Soothing gel with cold roller</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Face lifting massage & guasha</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp EGF ampoule with ultrasound</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Apply  Co2 treatment mask</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Apply soothing lotion & SPF cream</li>
            
        </ul>
    </div>
</div>

{% endblock %}