{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}  


{% block content %}

<section>
    <div class="container">
        <div class="row masonry">


            <div class="col-md-6 item">
                <div class="box-border padding30">
                    <div class="text-center">
                        <img src="{% static 'base/images/services/service_beautyFacial_1.png' %}" alt="" class="img-circle img-service-thumbnail" />
                        <div class="spacer-single"></div>
                        <h1>Facial</h1>
                        <div class="spacer-double"></div>
                    </div>


                    <div class="sub-item-service">
                        <div class="c1">Organic refreshing facial</div>
                        <div class="c2"></div>
                        <div class="c3">$68</div>
                    </div>


                    <div class="sub-item-service">
                        <div class="c1">Purifying facial</div>
                        <div class="c2"></div>
                        <div class="c3">$88</div>
                    </div>


                    <div class="sub-item-service">
                        <div class="c1">Intensive hydrating facial</div>
                        <div class="c2"></div>
                        <div class="c3">$108</div>
                    </div>

                    <div class="sub-item-service">
                        <div class="c1">Aromatic age reverse facial</div>
                        <div class="c2"></div>
                        <div class="c3">$168</div>
                    </div>

                    <div class="sub-item-service">
                        <div class="c1">Organic stem cell facial</div>
                        <div class="c2"></div>
                        <div class="c3">$298</div>
                    </div>

                    <div class="sub-item-service">
                        <div class="c1">Co2 peel & oxyglow facial</div>
                        <div class="c2"></div>
                        <div class="c3">$380</div>
                    </div>
                </div>

            </div>

            <div class="col-md-6 item">
                <div class="box-border padding30">
                    <div class="text-center">
                        <img src="{% static 'base/images/services/service_beautyEyeCare_1.png' %}" alt="" class="img-circle img-service-thumbnail" />
                        <div class="spacer-single"></div>
                        <h1>Eye care</h1>
                        <div class="spacer-double"></div>
                    </div>


                    <div class="sub-item-service">
                        <div class="c1">Rejuvenate eye treatment</div>
                        <div class="c2"></div>
                        <div class="c3">$88</div>
                    </div>


                    <div class="sub-item-service">
                        <div class="c1">Intensive eye treatment</div>
                        <div class="c2"></div>
                        <div class="c3">$128</div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 item">
                <div class="box-border padding30">
                    <div class="text-center">
                        <img src="{% static 'base/images/services/service_beautyEyebrow_1.png' %}" alt="" class="img-circle img-service-thumbnail" />
                        <div class="spacer-single"></div>
                        <h1>Eyebrow & Eyelash</h1>
                        <div class="spacer-double"></div>
                    </div>


                    <div class="sub-item-service">
                        <div class="c1">Eyebrow trim</div>
                        <div class="c2"></div>
                        <div class="c3">$18</div>
                    </div>


                    <div class="sub-item-service">
                        <div class="c1">Eye lashes perm</div>
                        <div class="c2"></div>
                        <div class="c3">$88</div>
                    </div>


                    <div class="sub-item-service">
                        <div class="c1">Misty eyebrow embroidery</div>
                        <div class="c2"></div>
                        <div class="c3">$399</div>
                    </div>

                </div>
            </div>

            <div class="col-md-6 item">
                <div class="box-border padding30">
                    <div class="text-center">
                        <img src="{% static 'base/images/services/service_beautyOthers_1.png' %}" alt="" class="img-circle img-service-thumbnail" />
                        <div class="spacer-single"></div>
                        <h1>Others</h1>
                        <div class="spacer-double"></div>
                    </div>


                    <div class="sub-item-service">
                        <div class="c1">Ear candling</div>
                        <div class="c2"></div>
                        <div class="c3">$20</div>
                    </div>


                    <div class="sub-item-service">
                        <div class="c1">Face guasha</div>
                        <div class="c2"></div>
                        <div class="c3">$38</div>
                    </div>


                </div>


            </div>
    </div>
</section>

{% endblock %}