{% extends "base/baseService.html" %}
{% load crispy_forms_tags %}  
{% load static %}

{% block header %}
    
{% endblock%}

{% block content %}
<!--=================================
= BACKGROUND HOLDER
==================================-->
<div class="bg-holder zindex-0">
    
    <!-- OVERLAY -->
    <b data-bgholder="overlay" class="full-wh zindex-2" data-lgradient="y" data-radial-gradient="rgba(0,0,0, 0)|rgba(0,0,0, 0.7)"></b>
    
    <!-- SLIDESHOW IMAGE -->
    <b data-bgholder="slideshow" class="full-wh bg-cover bg-cc zindex-1" data-slide-image="{% static 'base/images/services/sb_intensiveHydratingTreatment_1.png' %}|{% static 'base/images/services/sb_intensiveHydratingTreatment_2.png' %}"></b>
    
</div>
<!-- ======= END : BACKGROUND HOLDER =======  -->
{%endblock%}

{% block sections %}
<!--
************************************************************
* ABOUT SECTION
*************************************************************
-->
<div id="about" class="popup-section about-section flex-cc">
    <div class="inner-wrapper" data-ckav-smd="align-center">

        <!-- CLOSE BUTTON -->
        <div class="popup-close button button-icon color-button-dark color-hov-button-dark solid">
            <i class="pe-7s-close"></i>
        </div>

        <!-- POPUP HEADER -->
        <div class="header-area typo-light">
            <h2 class="heading-section medium bold-600 margin-b-0">About</h2>
        </div>

        <!-- POPUP CONTENT -->
        <div class="content-area">
            <div class="row gt60 align-items-center">
                <div class="col-lg-6" data-ckav-smd="margin-b-40">
                    <img class="radius-10" src="{% static 'base/images/services/sb_intensiveHydratingTreatment_about.png' %}" alt="about image">
                </div>
                <div class="col-lg-6">
                    <h3 class="heading-content small bold-600">
                        {% if serviceTitle %}
                            {{serviceTitle}}
                        {%else%}
                            Nil
                        {%endif%}
                    </h3>

                    <p class="margin-b-30">Intensive hydrating facials are a great option for those with dry, dehydrated, or mature skin, or for anyone who wants to give their skin a boost of hydration and radiance. They can help to improve the appearance of fine lines and wrinkles, reduce inflammation, and leave the skin looking and feeling smoother and more youthful.
                        
                    </p>
                    <p class="margin-b-30">The specific products and techniques used during an intensive hydrating facial may vary depending on the individual's skin type and needs. However, common ingredients in hydrating facial treatments include hyaluronic acid, aloe vera, chamomile, and other nourishing botanical extracts.
                        
                    </p>
                    
                    <ul class="list-1 color-text-dark font-01" data-ckav-smd="align-left margin-b-30">
                        <li class="margin-b-5"><i class="list-bullet margin-r-10 color-text-default fa fa-check"></i>Skin boost of hydration and radiance</li>
                        <li class="margin-b-5"><i class="list-bullet margin-r-10 color-text-default fa fa-check"></i>Reduce inflammation</li>
                        <li class="margin-b-5"><i class="list-bullet margin-r-10 color-text-default fa fa-check"></i>Reduce blemish and sensitive</li>
                        <li class="margin-b-5"><i class="list-bullet margin-r-10 color-text-default fa fa-check"></i>Provide intense moisture to the skin</li>
                                                                      
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ************** END : ABOUT SECTION **************  -->

<!--
************************************************************
* SERVICES SECTION
*************************************************************
-->
<div id="services" class="popup-section services-section flex-cc">
    <div class="inner-wrapper" data-ckav-smd="align-center">

        <!-- CLOSE BUTTON -->
        <div class="popup-close button button-icon color-button-dark solid color-hov-button-dark">
            <i class="pe-7s-close"></i>
        </div>

        <!-- POPUP HEADER -->
        <div class="header-area typo-light">
            <h2 class="heading-section medium bold-600 margin-b-0">Process</h2>
        </div>

        <!-- POPUP CONTENT -->
        <div class="content-area">

            <div class="width-50 align-center margin-auto margin-b-40" data-ckav-smd="width-100">
                <h3 class="heading-content small bold-600">
                    {% if serviceTitle %}
                        {{serviceTitle}}
                    {%else%}
                        Nil
                    {%endif%}
                </h3>
                
                <p class="heading-content-sub bold-400 tiny">_______</p>
            </div>
            <div class="row gt30 margin-b-30">
                <div class="col-lg-4" data-ckav-smd="margin-b-30">
                    <div class="info-obj radius-10 margin-b-0 center info-box-01 img-t padding-30 gap-20 mini" data-bg-color="rgba(0,0,0,0.03)">
                        <div class="img"><span class="iconwrp"><i class="fa-1 fa-solid"></i></span></div>
                        <div class="info">
                            <h3 class="heading-content bold-600 tiny">Deep cleansing</h3>
                            <p class="margin-b-0">Double cleansing to ensure bacterial and dirt remove with oil-based and water-based solutions</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" data-ckav-smd="margin-b-30">
                    <div class="info-obj radius-10 margin-b-0 center info-box-01 img-t padding-30 gap-20 mini" data-bg-color="rgba(0,0,0,0.03)">
                        <div class="img"><span class="iconwrp"><i class="fa-2 fa-solid"></i></span></div>
                        <div class="info">
                            <h3 class="heading-content bold-600 tiny">Soft scrub</h3>
                            <p class="margin-b-0">Apply hydrating lotion with soft scrub to clear pores while hydrate the skin</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-obj radius-10 margin-b-0 center info-box-01 img-t padding-30 gap-20 mini" data-bg-color="rgba(0,0,0,0.03)">
                        <div class="img"><span class="iconwrp"><i class="fa-3 fa-solid"></i></span></div>
                        <div class="info">
                            <h3 class="heading-content bold-600 tiny">Steam</h3>
                            <p class="margin-b-0">Steam opens up pores and helps for better product penetration</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gt30">
                <div class="col-lg-4" data-ckav-smd="margin-b-30">
                    <div class="info-obj radius-10 margin-b-0 center info-box-01 img-t padding-30 gap-20 mini" data-bg-color="rgba(0,0,0,0.03)">
                        <div class="img"><span class="iconwrp"><i class="fa-4 fa-solid"></i></span></div>
                        <div class="info">
                            <h3 class="heading-content bold-600 tiny">Extrusion</h3>
                            <p class="margin-b-0">Remove any product buildup and clear stubborn debris</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" data-ckav-smd="margin-b-30">
                    <div class="info-obj radius-10 margin-b-0 center info-box-01 img-t padding-30 gap-20 mini" data-bg-color="rgba(0,0,0,0.03)">
                        <div class="img"><span class="iconwrp"><i class="fa-5 fa-solid"></i></span></div>
                        <div class="info">
                            <h3 class="heading-content bold-600 tiny">Hydrating & Massage</h3>
                            <p class="margin-b-0">Hydrating lotion with massage to improve skin absorption</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" data-ckav-smd="margin-b-30">
                    <div class="info-obj radius-10 margin-b-0 center info-box-01 img-t padding-30 gap-20 mini" data-bg-color="rgba(0,0,0,0.03)">
                        <div class="img"><span class="iconwrp"><i class="fa-6 fa-solid"></i></span></div>
                        <div class="info">
                            <h3 class="heading-content bold-600 tiny">Facial mask</h3>
                            <p class="margin-b-0">Apply hydrating soft mask</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gt30 mt-4">
                <div class="col-lg-4" data-ckav-smd="margin-b-30">
                    <div class="info-obj radius-10 margin-b-0 center info-box-01 img-t padding-30 gap-20 mini" data-bg-color="rgba(0,0,0,0.03)">
                        <div class="img"><span class="iconwrp"><i class="fa-7 fa-solid"></i></span></div>
                        <div class="info">
                            <h3 class="heading-content bold-600 tiny">Protection</h3>
                            <p class="margin-b-0">Apply sunblock for skin protection</p>
                        </div>
                    </div>
                </div>
                                
            </div>
            
        </div>

    </div>
</div>
<!-- ************** END : SERVICES SECTION **************  -->

{% endblock %}