{% extends "base/baseService.html" %}
{% load crispy_forms_tags %}  
{% load static %}

{% block header %}
    
{% endblock%}

{% block content %}
<!--=================================
= BACKGROUND HOLDER
==================================-->
<div class="bg-holder zindex-0">
    
    <!-- OVERLAY -->
    <b data-bgholder="overlay" class="full-wh zindex-2" data-lgradient="y" data-radial-gradient="rgba(0,0,0, 0)|rgba(0,0,0, 0.7)"></b>
    
    <!-- SLIDESHOW IMAGE -->
    <b data-bgholder="slideshow" class="full-wh bg-cover bg-cc zindex-1" data-slide-image="{% static 'base/images/services/sb_OrganicStemCellFacial_1.png' %}|{% static 'base/images/services/sb_OrganicStemCellFacial_2.png' %}"></b>
    
</div>
<!-- ======= END : BACKGROUND HOLDER =======  -->
{%endblock%}

{% block sections %}
<!--
************************************************************
* ABOUT SECTION
*************************************************************
-->
<div id="about" class="popup-section about-section flex-cc">
    <div class="inner-wrapper" data-ckav-smd="align-center">

        <!-- CLOSE BUTTON -->
        <div class="popup-close button button-icon color-button-dark color-hov-button-dark solid">
            <i class="pe-7s-close"></i>
        </div>

        <!-- POPUP HEADER -->
        <div class="header-area typo-light">
            <h2 class="heading-section medium bold-600 margin-b-0">About</h2>
        </div>

        <!-- POPUP CONTENT -->
        <div class="content-area">
            <div class="row gt60 align-items-center">
                <div class="col-lg-6" data-ckav-smd="margin-b-40">
                    <img class="radius-10" src="{% static 'base/images/services/sb_OrganicStemCellFacial_about.png' %}" alt="about image">
                </div>
                <div class="col-lg-6">
                    <h3 class="heading-content small bold-600">
                        {% if serviceTitle %}
                            {{serviceTitle}}
                        {%else%}
                            Nil
                        {%endif%}
                    </h3>

                    <p class="margin-b-30">An organic stem cell facial uses products and techniques to improve the appearance and health of the skin by harnessing the power of stem cells.
                        
                    </p>
                    <p class="margin-b-30">Stem cells are unspecialized cells that can develop into different types of cells in the body. They have the potential to repair and regenerate damaged tissues and organs, including the skin.
                        
                    </p>
                    <p class="margin-b-30">In an organic stem cell facial, organic products derived from plant stem cells are used to rejuvenate and renew the skin. These products contain high levels of antioxidants, vitamins, and other nutrients that help to protect and nourish the skin, and may stimulate the growth of new cells.
                        
                    </p>
                    
                    <ul class="list-1 color-text-dark font-01" data-ckav-smd="align-left margin-b-30">
                        <li class="margin-b-5"><i class="list-bullet margin-r-10 color-text-default fa fa-check"></i>Stimulate the growth of new cells </li>
                        <li class="margin-b-5"><i class="list-bullet margin-r-10 color-text-default fa fa-check"></i>Promote youthful and radiant complexion</li>
                        <li class="margin-b-5"><i class="list-bullet margin-r-10 color-text-default fa fa-check"></i>Boost skin absorption</li>
                        <li class="margin-b-5"><i class="list-bullet margin-r-10 color-text-default fa fa-check"></i>Prevent ageing </li>
                                                                      
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ************** END : ABOUT SECTION **************  -->

<!--
************************************************************
* SERVICES SECTION
*************************************************************
-->
<div id="services" class="popup-section services-section flex-cc">
    <div class="inner-wrapper" data-ckav-smd="align-center">

        <!-- CLOSE BUTTON -->
        <div class="popup-close button button-icon color-button-dark solid color-hov-button-dark">
            <i class="pe-7s-close"></i>
        </div>

        <!-- POPUP HEADER -->
        <div class="header-area typo-light">
            <h2 class="heading-section medium bold-600 margin-b-0">Process</h2>
        </div>

        <!-- POPUP CONTENT -->
        <div class="content-area">

            <div class="width-50 align-center margin-auto margin-b-40" data-ckav-smd="width-100">
                <h3 class="heading-content small bold-600">
                    {% if serviceTitle %}
                        {{serviceTitle}}
                    {%else%}
                        Nil
                    {%endif%}
                </h3>
                
                <p class="heading-content-sub bold-400 tiny">_______</p>
            </div>
            <div class="row gt30 margin-b-30">
                <div class="col-lg-4" data-ckav-smd="margin-b-30">
                    <div class="info-obj radius-10 margin-b-0 center info-box-01 img-t padding-30 gap-20 mini" data-bg-color="rgba(0,0,0,0.03)">
                        <div class="img"><span class="iconwrp"><i class="fa-1 fa-solid"></i></span></div>
                        <div class="info">
                            <h3 class="heading-content bold-600 tiny">Deep cleansing</h3>
                            <p class="margin-b-0">Double cleansing with oil-based and water-based solution to ensure bacterial and dirt are remove</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" data-ckav-smd="margin-b-30">
                    <div class="info-obj radius-10 margin-b-0 center info-box-01 img-t padding-30 gap-20 mini" data-bg-color="rgba(0,0,0,0.03)">
                        <div class="img"><span class="iconwrp"><i class="fa-2 fa-solid"></i></span></div>
                        <div class="info">
                            <h3 class="heading-content bold-600 tiny">Dry cell soft peeling </h3>
                            <p class="margin-b-0">Elimination of flaky dead skin cells with an expulsion of impurities from pores.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-obj radius-10 margin-b-0 center info-box-01 img-t padding-30 gap-20 mini" data-bg-color="rgba(0,0,0,0.03)">
                        <div class="img"><span class="iconwrp"><i class="fa-3 fa-solid"></i></span></div>
                        <div class="info">
                            <h3 class="heading-content bold-600 tiny">Steam</h3>
                            <p class="margin-b-0">To open up the pores for better product penetration</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gt30">
                <div class="col-lg-4" data-ckav-smd="margin-b-30">
                    <div class="info-obj radius-10 margin-b-0 center info-box-01 img-t padding-30 gap-20 mini" data-bg-color="rgba(0,0,0,0.03)">
                        <div class="img"><span class="iconwrp"><i class="fa-4 fa-solid"></i></span></div>
                        <div class="info">
                            <h3 class="heading-content bold-600 tiny">Extrusion</h3>
                            <p class="margin-b-0">clearing a clogged or compacted pore manually </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" data-ckav-smd="margin-b-30">
                    <div class="info-obj radius-10 margin-b-0 center info-box-01 img-t padding-30 gap-20 mini" data-bg-color="rgba(0,0,0,0.03)">
                        <div class="img"><span class="iconwrp"><i class="fa-5 fa-solid"></i></span></div>
                        <div class="info">
                            <h3 class="heading-content bold-600 tiny">Face lifting massage</h3>
                            <p class="margin-b-0">Stimulating your facial muscles to help tighten skin, relieve tight muscles, and boost circulation</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" data-ckav-smd="margin-b-30">
                    <div class="info-obj radius-10 margin-b-0 center info-box-01 img-t padding-30 gap-20 mini" data-bg-color="rgba(0,0,0,0.03)">
                        <div class="img"><span class="iconwrp"><i class="fa-6 fa-solid"></i></span></div>
                        <div class="info">
                            <h3 class="heading-content bold-600 tiny">Stem cell ampoule with ultrasound </h3>
                            <p class="margin-b-0">Stem cell ampoule with ultrasound for restore the natural skin vibrancy</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row gt30 mt-4">
                <div class="col-lg-4" data-ckav-smd="margin-b-30">
                    <div class="info-obj radius-10 margin-b-0 center info-box-01 img-t padding-30 gap-20 mini" data-bg-color="rgba(0,0,0,0.03)">
                        <div class="img"><span class="iconwrp"><i class="fa-7 fa-solid"></i></span></div>
                        <div class="info">
                            <h3 class="heading-content bold-600 tiny">Stem cell mask</h3>
                            <p class="margin-b-0">Promotes cell turnover and increases collagen production to improve skin texture and tone </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" data-ckav-smd="margin-b-30">
                    <div class="info-obj radius-10 margin-b-0 center info-box-01 img-t padding-30 gap-20 mini" data-bg-color="rgba(0,0,0,0.03)">
                        <div class="img"><span class="iconwrp"><i class="fa-8 fa-solid"></i></span></div>
                        <div class="info">
                            <h3 class="heading-content bold-600 tiny">Protection</h3>
                            <p class="margin-b-0">Apply sunblock for skin protection</p>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>

    </div>
</div>
<!-- ************** END : SERVICES SECTION **************  -->

{% endblock %}