{% extends "base/base.html" %}
{% load crispy_forms_tags %}  
{% load static %}

{% block header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
{% endblock%}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <img src="https://i.ibb.co/N77JFd6/organic-Refreshing-Facial.jpg" class="img-thumbnail img-fluid" alt="Organic refreshing facial" width="500">
    </div>
    
    <h2 class="text-center">Benefits</h2>
    <div class="d-flex justify-content-center">
        <ul class="list-unstyled text-center">
            <li><i class="fa-sharp fa-solid fa-square-check"></i>&nbsp Skin hydrating</li>
            <li><i class="fa-sharp fa-solid fa-square-check"></i>&nbsp Skin cleansing</li>
            <li><i class="fa-sharp fa-solid fa-square-check"></i>&nbsp Relaxation</li>
            
        </ul>
    </div>
    <hr class="my-5">
    <h2 class="text-center">Description</h2>
    <div class="d-flex justify-content-center text-center">
        <p>The organic refreshing facial uses natural ingredients to cleanse and hydrate your skin.</p>
    </div>
    <hr class="my-5">
    <h2 class="text-center">Processes</h2>
    <div class="d-flex justify-content-center">
        <ul class="list-unstyled text-center">
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Face cleansing</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Soft peeling</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Apply soothing lotion</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Refreshing massage</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Refreshing mask</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Apply soothing gel</li>
            
        </ul>
    </div>
</div>

{% endblock %}