{% extends "base/base.html" %}
{% load crispy_forms_tags %}  
{% load static %}

{% block header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
{% endblock%}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <img src="https://i.ibb.co/Wf35hhj/detoxify-Scalp-Treatment.jpg" class="img-thumbnail img-fluid" alt="Detoxify scalp treatment" width="500">
    </div>
    
    <h2 class="text-center">Benefits</h2>
    <div class="d-flex justify-content-center">
        <ul class="list-unstyled text-center">
            <li><i class="fa-sharp fa-solid fa-square-check"></i>&nbsp Regulate scalp oil production</li>
            <li><i class="fa-sharp fa-solid fa-square-check"></i>&nbsp Eradicate irritation, flaking & redness</li>
            <li><i class="fa-sharp fa-solid fa-square-check"></i>&nbsp Unclog hair follicles</li>
            
        </ul>
    </div>
    <hr class="my-5">
    <h2 class="text-center">Description</h2>
    <div class="d-flex justify-content-center text-center">
        <p>Detoxify scalp treatment can address clogged hair follicles and overproduce or underproduce oils by rebalancing the microbiome. Moreover, it eradicates irritation, itching, flaking and redness on your scalp. </p>
    </div>
    <hr class="my-5">
    <h2 class="text-center">Processes</h2>
    <div class="d-flex justify-content-center">
        <ul class="list-unstyled text-center">
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Apply detoxify scalp lotion</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Scrub & massage</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Ultima heat with blue UV light (eradicate bacterial)</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Wash & rinse</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Ultima heat red UV light (Promote blood circulation)</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Guasha & aplpy ampoule & blowdry hair</li>
        </ul>
    </div>
</div>

{% endblock %}