{% extends "base/base.html" %}
{% load crispy_forms_tags %}  
{% load static %}

{% block header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
{% endblock%}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <img src="https://i.ibb.co/X3x1wvZ/keratin-QODTreatment.jpg" class="img-thumbnail img-fluid" alt="Keratin QOD(Gold) treamtent" width="500">
    </div>
    
    <h2 class="text-center">Benefits</h2>
    <div class="d-flex justify-content-center">
        <ul class="list-unstyled text-center">
            <li><i class="fa-sharp fa-solid fa-square-check"></i>&nbsp Highest quality Brazilian keratin formula</li>
            <li><i class="fa-sharp fa-solid fa-square-check"></i>&nbsp Anti-frizz</li>
            <li><i class="fa-sharp fa-solid fa-square-check"></i>&nbsp Greater shine & smoothness</li>
            <li><i class="fa-sharp fa-solid fa-square-check"></i>&nbsp Long-lasting</li>
            
        </ul>
    </div>
    <hr class="my-5">
    <h2 class="text-center">Description</h2>
    <div class="d-flex justify-content-center text-center">
        <p>QOD Gold Keratin treatment uses nano-particles of 24-karat gold to permeate the hair, working in tandem with keratin to bring about a robust yet elegant transformation.</p>
    </div>
    
</div>

{% endblock %}