{% extends "base/base.html" %}
{% load crispy_forms_tags %}  
{% load static %}

{% block header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
{% endblock%}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <img src="https://i.ibb.co/QmxSvjx/essential-Hair-Treatment.jpg" class="img-thumbnail img-fluid" alt="Essential hair treatment" width="500">
    </div>
    
    <h2 class="text-center">Benefits</h2>
    <div class="d-flex justify-content-center">
        <ul class="list-unstyled text-center">
            <li><i class="fa-sharp fa-solid fa-square-check"></i>&nbsp Replenish hair moisture</li>
            <li><i class="fa-sharp fa-solid fa-square-check"></i>&nbsp Smooth hair</li>
            
        </ul>
    </div>
    <hr class="my-5">
    <h2 class="text-center">Description</h2>
    <div class="d-flex justify-content-center text-center">
        <p>An essential hair treatment to replenish the lost moisture in your hair, leaving you with a smooth hair texture.</p>
    </div>
    <hr class="my-5">
    <h2 class="text-center">Processes</h2>
    <div class="d-flex justify-content-center">
        <ul class="list-unstyled text-center">
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Wash & rinse</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Hydrating hair mask application</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Steam under red UV light (Blood circulation)</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Wash & rinse</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Ultima heat with blue UV light (Eradicate bacterial)</li>
            <li><i class="fa-solid fa-arrow-right"></i>&nbsp Blowdry hair</li>
            
        </ul>
    </div>
</div>

{% endblock %}