{% extends 'manager/mindex.html' %}
{% load static %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#phone").keyup(function(){
            $.ajax({
                type: 'POST',
                url: '/mmanager/appointment/new/appointment/checkphone',
                data:{
                    customerphone: $("#phone").val(),                    
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(data){
                    $('#outputuser').html(data);
                }
            })
        });

        $("#phone1").keyup(function(){
            $.ajax({
                type: 'POST',
                url: '/mmanager/appointment/new/appointment/checkphone',
                data:{
                    customerphone: $("#phone1").val(),                    
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(data){
                    $('#outputuser1').html(data);
                }
            })
        });
    });

</script>

{% endblock %}

{% block content %}
<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-5">
    <div class="breadcrumb-title pe-3">Credit</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="{% url 'manager-home' %}"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Overview</li>
            </ol>
        </nav>
    </div>
    
</div>
<!--end breadcrumb-->

<div class="col-12">
    <div class="card radius-10">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <h4 class="mb-0 font-weight-bold">Lastest transaction</h4>     
                <p class="ms-auto text-end"></p>Credit from customer account.<br> Debit from customer account.</p>     
            </div>
            <div class="d-flex my-4">
                <h1 class="mb-0 font-weight-bold">
                    {% if creditHistory %}
                        {{creditHistory|length}}
                    {% else %}
                        0
                    {% endif %}
                </h1>
                <p class="mb-0 ml-3 font-14 align-self-end text-secondary">&nbsp; today transactions</p>
                <div class="ms-auto">
                    <i class='bx bxs-checkbox me-2 font-24 text-primary'></i><span>Credit</span>
                    <i class='bx bxs-checkbox me-2 font-24 text-danger'></i><span>Debit</span>
                </div>
            </div>
            
            <hr class="hr">
            <div class="table-responsive mt-4">
                <table class="table mb-0">
                    <tbody>
                        {% if creditHistory %}
                            {% for ch in creditHistory %}
                                <tr>
                                    <td class="px-0">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                {% if ch.type == "CREDIT" %}
                                                    <i class='bx bxs-checkbox me-2 font-24 text-primary'></i>
                                                {% else %}
                                                    <i class='bx bxs-checkbox me-2 font-24 text-danger'></i>
                                                {% endif %}
                                            </div>
                                            <div>Phone: {{ch.user.phone}} | Remarks:{{ch.remarks}}</div>
                                        </div>
                                    </td>
                                    <td>
                                        {% if ch.type == "CREDIT" %}
                                            CREDIT: {{ch.amount}}
                                        {% else %}
                                            DEBIT: {{ch.amount}}
                                        {% endif %}
                                    </td>
                                    <td class="px-0 text-end">{{ch.created_at|date:"F d, Y"}}</td>
                                </tr>      
                            {% endfor %}
                            
                       {% endif %}
                       
                    </tbody>
                </table>
            </div>
            <hr class="hr">
            <div class="pagination mt-3">
                <span class="step-links">
                    {% if creditHistory.has_previous %}
                        <a class="btn btn-sm btn-primary" href="?page=1">&laquo; first</a>
                        <a class="btn btn-sm btn-primary" href="?page={{ creditHistory.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ creditHistory.number }} of {{ creditHistory.paginator.num_pages }}.
                    </span>
            
                    {% if creditHistory.has_next %}
                        <a class="btn btn-sm btn-primary" href="?page={{ creditHistory.next_page_number }}">next</a>
                        <a class="btn btn-sm btn-primary" href="?page={{ creditHistory.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>    
<!--end row-->


<!--Credit/Debit-->
<div class="row">
    <!--Credit-->
    <div class="col">
        <hr/>
        <div class="card border-top border-0 border-4 border-danger">
            <div class="card-body p-5">
                <div class="card-title d-flex align-items-center">
                    <div><i class="bx bxs-user me-1 font-22 text-danger"></i>
                    </div>
                    <h5 class="mb-0 text-danger">Credit customer account</h5>
                </div>
                <hr>
                <form class="row g-3" method="POST" action="{% url 'credit-creditCustomer'%}">
                    {% csrf_token %}
                    <input type="text" name="type" id="type" value="DEBIT" readonly hidden>
                    <div class="col-md-12">
                        <label for="phone" class="form-label">Phone</label>
                        <span class="mr-2" id="outputuser" name="outputuser"></span>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                            <input type="text" class="form-control border-start-0" id="phone" name="phone" placeholder="Phone" required />
                            
                        </div>
                    </div>                   
                    <div class="col-12">
                        <label for="inputPhoneNo" class="form-label">Amount:</label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i class='bx bx-money' ></i></span>
                            <input type="number" step="0.01" class="form-control border-start-0" id="amount" name="amount" placeholder="Amount" required />
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <label for="inputChoosePassword" class="form-label">Transaction</label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i class='bx bx-spreadsheet' ></i></span>
                            <input type="text" class="form-control border-start-0" id="transactionid" name="transactionid" placeholder="Transaction ID" />
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="inputConfirmPassword" class="form-label">Transaction remarks</label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i class='bx bxs-lock' ></i></span>
                            <textarea id="remarks" name="remarks" rows="4" cols="50" class="form-control border-start-0" required></textarea>
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <button type="submit" class="btn btn-danger px-5">Credit customer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--debit-->
    <div class="col">
        <hr/>
        <div class="card border-top border-0 border-4 border-primary">
            <div class="card-body p-5">
                <div class="card-title d-flex align-items-center">
                    <div><i class="bx bxs-user me-1 font-22 text-primary"></i>
                    </div>
                    <h5 class="mb-0 text-primary">Debit customer account</h5>
                </div>
                <hr>

                <form class="row g-3" method="POST" action="{% url 'credit-debitCustomer'%}">
                    {% csrf_token %}
                    <input type="text" name="type1" id="type1" value="DEBIT" readonly hidden>
                    <div class="col-md-12">
                        <label for="inputLastName1" class="form-label">Phone</label>
                        <span class="mr-2" id="outputuser1" name="outputuser1"></span>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                            <input type="text" class="form-control border-start-0" id="phone1" name="phone1" placeholder="Phone" />
                            
                        </div>
                    </div>                   
                    <div class="col-12">
                        <label for="amount1" class="form-label">Amount:</label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i class='bx bx-money' ></i></span>
                            <input type="number" step="0.01" class="form-control border-start-0" id="amount1" name="amount1" placeholder="Amount" />
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <label for="transactionid1" class="form-label">Transaction</label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i class='bx bx-spreadsheet' ></i></span>
                            <input type="text" class="form-control border-start-0" id="transactionid1" name="transactionid1" placeholder="Transaction ID" />
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="remarks1" class="form-label">Transaction remarks</label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i class='bx bxs-lock' ></i></span>
                            <textarea id="remarks1" name="remarks1" rows="4" cols="50 class="form-control border-start-0""></textarea>
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary px-5">Credit customer</button>
                    </div>
                </form>

            </div>
        </div>
    </div>


</div>



{% endblock %}